@media screen and (min-width: 768px) {
  .animated-entrance {
    transition: opacity 1s, transform 1s !important;
    transform-style: preserve-3d !important;
    transform: translateY(0);
  }
  
  .animated-entrance-hidden {
    opacity: 0 !important;
    transform: translateY(20px);
  }
}
